$app_color: #EF3651;

// img {
//   width: 100%;
// }

.top_link {
  img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
  }
}

// .login {
// 	height: 100vh;
// 	width: 100%;
// 	background: radial-gradient(#EF3651, #880416);
// 	position: relative;
// }
.login_box {
  width: 75%;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 4px 22px -8px #0004;
  display: flex;
  overflow: hidden;

  .left {
    width: 41%;
    height: 100%;
    padding: 25px 25px;
    background: linear-gradient(-45deg, #dcd7e0, #fff);

    .top_link {
      height: 20px;

      a {
        color: #EF3651;
        font-weight: 400;
      }
    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      height: 100%;
      width: 73%;
      margin: auto;

      h3 {
        text-align: center;
        margin-bottom: 40px;
      }

      input {
        border: none;
        width: 80%;
        margin: 15px 0px;
        border-bottom: 1px solid #4f30677d;
        padding: 7px 9px;
        width: 100%;
        overflow: hidden;
        background: transparent;
        font-weight: 600;
        font-size: 14px;
      }
    }

    .submit {
      border: none;
      padding: 15px 70px;
      border-radius: 8px;
      display: block;
      margin: auto;
      margin-top: 90px;
      border: 2px solid #EF3651;
      color: #EF3651;
      outline: none;
      box-shadow: none;
      font-weight: bold;
      -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
      -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
      box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
      transition: 500ms ease-out;
    }

    .submit:hover:enabled {
      background: #EF3651;
      color: #fff;
      transition: 500ms ease-in;
    }

    .submit:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .right {
    width: 65%;
    height: 100%;
    background: linear-gradient(212.38deg, rgba(242, 57, 127, 0.7) 0%, rgba(175, 70, 189, 0.51) 100%);
    color: #fff;
    position: relative;

    .right-text {
      height: 85%;
      position: relative;
      transform: translate(0%, 45%);

      h2 {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 50px;
        font-weight: 500;
      }

      h5 {
        display: block;
        width: 120%;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 0;
      }
    }
  }
}

::ng-deep .ng-select .ng-select-container {
  background: transparent;
  border-bottom: 1px solid #4f30677d;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
}
::ng-deep .ng-select.ng-select-opened>.ng-select-container {
  background: #EF3651;
  color: #fff;
}
